html {
  font-size: 100%;
}
body {
  color: #333;
  font-size: 0.875rem;
  min-height: 100vh;
  position: relative;
}
a {
  color: #333;
  text-decoration: none;
  transition: all 0.5s;
}
a:hover {
  opacity: 0.7;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

/* 共通(top, products,  */
.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

/*  */
.content {
  padding-top: 120px;
  padding-bottom: 160px;
}

.sub-title {
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 30px;
}

/* header */
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; /*header 固定*/
  left: 0;
  right: 0;
  z-index: 10 ;
}

header h1 a {
  width: 180px;
  line-height: 1px;
  display: block;
}

/* ハンバーガーメニュー(close) */
nav {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}

nav li {
  margin-bottom: 14px;
}
nav a {
  color: #fff;
}

/* ハンバーガーメニュー(open) */
.open nav {
  left: 0;
  opacity: 1;
}

.open .nav_btn span {
  background-color: #fff;
}

.open .nav_btn span:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
  transform: translateY(4px) rotate(-45deg);
}
.open .nav_btn span:nth-child(2) {
  -webkit-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

/*  */

.nav_btn {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}

.nav_btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}

.nav_btn span:nth-child(1) {
  top: 10px;
}
.nav_btn span:nth-child(2) {
  bottom: 10px;
}

#mask {
  display: none;
  transition: all 0.5s;
}

/* main */
/* top */
#top {
  padding-top: 80px;
  padding-bottom: 160px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list li {
  width: 23%;
  margin-bottom: 40px;
}

.product-list img {
  margin-bottom: 10px;
  vertical-align: top;
}

.product-list p {
  font-size: 0.75rem;
}

.products-link {
  display: block;
  text-align: center;
}

/* products */
.paging-num {
  display: flex;
  justify-content: center;
}

.paging-num li {
  margin-right: 20px;
}

/* item */
#item {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

#item .item-img {
  width: 50%;
}

#item .item-contents {
  width: 42%;
}

#item .item-contents p {
  margin-bottom: 30px;
  text-align: justify;
}

#item .item-contents dl {
  display: flex;
  flex-wrap: wrap;
}

.item-contents dt {
  width: 33%;
}

.item-contents dd {
  width: 67%;
}

/* about */
#about {
  max-width: 600px;
}

#about p {
  margin-bottom: 30px;
  line-height: 1.9;
}

/* company */
#company {
  max-width: 600px;
}

#company dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#company dt {
  width: 30%;
  border-bottom: solid 1px #dcdbdb;
  padding: 20px 10px;
}

#company dt:last-of-type {
  border-bottom: none;
}

#company dd {
  width: 70%;
  border-bottom: solid 1px #dcdbdb;
  padding: 20px 10px;
}
#company dd:last-of-type {
  border-bottom: none;
}

#company .map {
  /* グーグルマップをグレースケールにする */
  filter: grayscale(1);
}

/* グーグルマップのサイズを設定 */
#company .map iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

footer .menu {
  display: flex;
}

footer .menu li {
  font-size: 0.75rem;
  margin-right: 30px;
}

footer p {
  font-size: 0.625rem;
}



/* SP */
@media screen and (max-width: 1200px) {
  .product-list {
    display: flex;
    justify-content: flex-start;
  }

  .product-list li {
    width: 30%;
    margin-right: 20px;
  }
}

@media screen and (max-width: 900px) {
  .product-list li {
    width: 46%;
  }

  /* company */
  #company dl {
    flex-direction: column;
  }

  #company dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 5px;
  }

  #company dd {
    width: 100%;
    padding-top: 5px;
  }

/* item */
#item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#item .item-img, #item .item-contents {
  width: 100%;
}

.item-img {
  margin-bottom: 30px;
}

  footer {
    flex-direction: column;
  }
  
  footer p {
    margin-top: 10px;
  }
}